{% extends "layout.html" %}

{% block content %}
    <div class="main-backdrop"></div>

    <script>
        // Function to update rating
        function gfg(n) {
            fetch('https://swe-final-web-app-m232t.ondigitalocean.app/updaterating', {
            // fetch('http://localhost:5000/updaterating', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "starCount": n
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
            })
            .then(data => {
                return window.location.href = "https://swe-final-web-app-m232t.ondigitalocean.app/"
                // return window.location.href = "http://localhost:5000/"
            })
            .catch(error => {
                console.error('Error:', error); // Handle any errors
            });
        }
        
        // To remove the pre-applied styling
        function remove() {
            let i = 0;
            while (i < 5) {
                stars[i].className = "star";
                i++;
            }
        }
    </script>

    <main>
        <div class="content">
            <h1>Today's Recommended Movie</h1>
            <img class="poster" src={{ poster }} alt="{{ selectedMovie[1] }}" style="max-width: 200px; height: 300px;">
            <h2>{{ selectedMovie[1] }}</h2>
            {% if movieWatched %}
                <h4> You have watched this movie! </h4>
                <div class="card">
                    <h1>Your Rating</h1>
                    <span onclick="gfg(1)"
                          class="star">★
                    </span>
                    <span onclick="gfg(2)"
                          class="star">★
                    </span>
                    <span onclick="gfg(3)"
                          class="star">★
                    </span>
                    <span onclick="gfg(4)"
                          class="star">★
                    </span>
                    <span onclick="gfg(5)"
                          class="star">★
                    </span>
                </div>
                <br />
                <form method="POST" action="/setwatched">
                    <input type="hidden" name="hasWatched" value="false" id="watchedCheckbox">
                    <!-- <label for="watchedCheckbox">Mark as Watched</label> -->
                    <input type="hidden" name="movieId" value="{{ movieId }}">
                    <button type="submit" style="background-color: gray">Remove from watchlist</button>
                </form>
            {% else %}
                <!-- Form with checkbox to mark as watched -->
                <form method="POST" action="/setwatched">
                    <input type="hidden" name="hasWatched" value="true" id="watchedCheckbox">
                    <!-- <label for="watchedCheckbox">Mark as Watched</label> -->
                    <input type="hidden" name="movieId" value="{{ movieId }}">
                    <button type="submit">I've watched this!</button>
                </form>
            {% endif %}
        </div>

        <script>
            // To access the stars
            let stars = 
                document.getElementsByClassName("star");
            let output = 
                document.getElementById("output");

            const n = parseInt("{{stars}}")

            for (let i = 0; i < n; i++) {
                if (n == 1) cls = "one";
                else if (n == 2) cls = "two";
                else if (n == 3) cls = "three";
                else if (n == 4) cls = "four";
                else if (n == 5) cls = "five";
                stars[i].className = "star " + cls;
            }
            output.innerText = "Rating is: " + n + "/5";
        </script>
    </main>
{% endblock %}
