{% extends "layout.html" %}
{% block title %}{{ user }}'s Profile{% endblock %}

{% block content %}

<main>
    <div class="content">
        <h1>Welcome, {{ user }}!</h1>

        <div class="watched-list-section">
            <h2>Your Watched Movies</h2>
            {% if watchedMovies %}
                <div class="watched-list">
                    {% for movie in watchedMovies %}
                        <div class="movie-row">
                            <img class="poster-little" src="{{ movie['movie_data'][0] }}" alt="{{ movie['movie_data'][1] }}" style="max-width: 150px">
                            <div class="movie-row-info">
                                <h4>{{ movie['movie_data'][1] }}</h4>
                                <p style="color: gray">#{{ movie['movie_rating']['movie_id'] }}/1000 on IMDB</p>
                                <p>Your rating: {{ movie['movie_rating']['rating'] }}</p>
                                <p>Watched on: {{ movie['movie_rating']['date_watched'] }}</p>
                                <!-- <script>

                                </script>
                                <div class="movie-row-stars">
                                    <h1>Your Rating</h1>
                                    <span onclick="gfg(1)"
                                        class="star-">★
                                    </span>
                                    <span onclick="gfg(2)"
                                        class="star">★
                                    </span>
                                    <span onclick="gfg(3)"
                                        class="star">★
                                    </span>
                                    <span onclick="gfg(4)"
                                        class="star">★
                                    </span>
                                    <span onclick="gfg(5)"
                                        class="star">★
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You have not watched any movies yet!</p>
            {% endif %}
        </div>
        
        <div class="journey-section">
            <h3>Your Journey Across IMDB 1000</h3>
            <div class="watched-count"></div>

            <div id="top-1000-list">
            </div>
    
            <script>
                watchedIdsRaw = "{{ watchedIds }}"
                watchedIdsArray = watchedIdsRaw.substring(1,watchedIdsRaw.length-1).split(", ")
                console.log(watchedIdsArray)
    
                const listDiv = document.querySelector("#top-1000-list");
                for(let i=0; i < 1000; i++){
                    const movieBox = document.createElement("div")
                    movieBox.className = "movie-box"
                    movieBox.appendChild(document.createTextNode(i+1))
                    if(watchedIdsArray.includes(i.toString())){
                        movieBox.classList.add("watched")
                    }
                    listDiv.appendChild(movieBox)
                }
    
                const watchedCount = document.querySelector(".watched-count")
                const greenNum = document.createElement("p")
                greenNum.textContent = `${watchedIdsArray.length}`
                greenNum.style = "color: greenyellow"
                watchedCount.appendChild(greenNum)
                const outOfText = document.createElement("p")
                outOfText.textContent = "/1000 watched"
                watchedCount.appendChild(outOfText)
            </script>
        </div>

    </div>
</main>
{% endblock %}
